[submodule "inst/tools/polyfun"]
	path = inst/tools/polyfun
	url = https://github.com/omerwe/polyfun.git/
[submodule "inst/tools/PAINTOR_V3.0"]
	path = inst/tools/PAINTOR_V3.0
	url = https://github.com/gkichaev/PAINTOR_V3.0.git
